*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif, "Apple Color Emoji";
    color: #222222;
    background: #FAFAFA;
}

body.dark {
    color: #FFFFFF;
    background: #2A2A2A;
}

body.focused .container {
    display: none;
}

body.focused .desktop {
    filter: blur(10px);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.desktop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(1.1);
    z-index: -1;
    background: url(../bg.png) no-repeat center center fixed;
    background-size: cover;
    filter: blur(2px);
}

.container {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    margin: 100px auto 50px;
    padding: 0 20px;
}

@media (max-width: 640px) {
    .container {
        margin-top: 40px;
    }
}

.container .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.container .header.dual {
    justify-content: space-between;
}

.container .header .logo img {
    border-radius: 3px;
}

.container .header .message {
    text-align: center;
}

.container .header.dual .message {
    text-align: right;
}

.container .header .message h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}

.container .header .message h4 {
    margin: 0;
    font-weight: 400;
}

.container .omnibox {
    width: 100%;
    margin-top: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

body.dark .container .omnibox {
    background: #333333;
}

.container .omnibox .search {
    padding: 6px 16px;
    border-radius: 2px;
}

body.dark .container .omnibox .search:hover {
    background: #3F3F3F;
}

.container .omnibox .search input#text {
    -webkit-appearance: none;
    -moz-appearance: none;
    font: inherit;
    border: none;
    background: transparent;
    /*width: calc(100% - 34px);*/
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: inherit;
}

.container .omnibox .search input:focus {
    outline: none;
}

.container .omnibox .search input#glass {
    position: relative;
    top: 5px;
    height: 24px;
    width: 24px;
}

.container .omnibox .results {
    display: none;
    padding: 14px 18px;
}

/*.container .bookmarks {
    display: none;
    width: 100%;
    max-height: 222px;
    overflow-y: auto;
    margin: 20px 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.container .bookmarks ul {
    height: 100%;
    width: 100%;
}

.container .bookmarks ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    width: 100%;
    height: 74px;
    cursor: pointer;
    background: #333;
}

.container .bookmarks ul li img {
    height: 58px;
    margin-right: 15px;
}

.container .bookmarks ul li span {
    font-size: 16px;
}

.container .bookmarks ul li:hover {
    background: #3F3F3F;
}

@media (max-width: 640px) {
    .container .bookmarks {
        margin: 0;
        overflow-y: visible;
    }

    .container .bookmarks .hidden {
        display: none;
    }
}*/

.container .cards {
    display: flex;
    width: 100%;
    margin-top: 18px;
    justify-content: space-between;
    text-align: left;
}

.container .cards .card {
    flex: 1;
    display: flex;
    padding: 16px 20px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

body.dark .container .cards .card {
    background: #333333;
}

.container .cards .card:nth-child(odd) {
    margin-right: 15px;
}

.container .cards .card:nth-child(even) {
    margin-left: 15px;
}

.container .cards .card .left {
    flex: 1;
}

.container .cards .card .right {
    flex: 0;
}

.container .cards .card h3 {
    margin: 0;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 300;
}

.container .cards .card h5 {
    margin: 0;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

body.dark .container .cards .card h5 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}

@media (max-width: 640px) {
    .container .cards {
        display: block;
    }

    .container .cards .card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    overflow-y: auto;
}

.overlay.open {
    display: flex !important;
}

.overlay .bookmarks {
    margin-top: 20px;
    height: 500px;
    width: 700px;
}

.overlay .bookmarks ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.overlay .bookmarks ul li {
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
    padding: 5px 5px 20px;
    width: 120px;
    border-radius: 2px;
}

.overlay .bookmarks ul li:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.overlay .bookmarks ul li img {
    display: inline-block;
    height: 72px;
}

.overlay .bookmarks ul li span {
    display: block;
}

.toggle {
    position: absolute;
    left: 50%;
    bottom: 35px;
    z-index: 20;
    cursor: pointer;
    padding: 11px 11px 8px;
    transform: translateX(-50%);
    background: #333;
    border-radius: 50%;
    user-select: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: background .1s;
}

.toggle:hover,
.toggle.active {
    background: #3F3F3F;
}

.toggle img {
    height: 24px;
}
